#modal-background {
  display: block;
  position: fixed;
  z-index: 1999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

#modal-container {
  @extend %modal-container;
}

#modal-container-panel {
  @extend %modal-container-panel;
}

#modal-container-btn-wrapper {
  @extend %modal-container-btn-wrapper;
}

#modal-container-btn {
  @extend %modal-container-btn;

  background-color: white;
}

#modal-container-btn-apply {
  @extend %modal-container-btn;

  background-color: #ffd93e;

  &:hover {
    background-color: #ffcd00;
  }
}

#modal-container-panel-text-primary {
  font-size: 18px;
  margin-top: 21px;
  margin-left: 20px;
  color: #333;
  font-family: Arial, Serif;
  font-weight: bold;
//  border: 1px solid black;

  @media screen and (min-width: 670px) {
    font-size: 27px;
    margin-top: 26px;
    margin-left: 25px;
  }

  @media screen and (min-width: 1368px) {
    font-size: 1.97vw;
    margin-top: 1.9vw;
    margin-left: 1.82vw;
  }
}

#modal-container-panel-text-secondary {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 20px;
  color: #333;
  font-family: Arial, Serif;
//  border: 1px solid black;

  @media screen and (min-width: 670px) {
    font-size: 14px;
    margin-top: 6px;
    margin-left: 25px;
  }

  @media screen and (min-width: 1368px) {
    font-size: 1.02vw;
    margin-top: 0.43vw;
    margin-left: 1.82vw;
  }
}

#modal-container-panel-controls-wrapper-outer {
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  width: 450px;
  height: 30px;
//  border: 1px solid red;

  @media screen and (min-width: 670px) {
    margin-top: 20px;
    margin-left: 25px;
  }

  @media screen and (min-width: 1368px) {
    margin-top: 1.46vw;
    margin-left: 1.82vw;
    height: 2.19vw;
    width: 33.89vw;
  }
}

#modal-container-panel-controls-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 313px;
  height: 30px;
//  border: 1px solid black;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 670px) {
    width: 100%;
    height: 100%;
  }
}

%modal-container-panel-controls-buttons {
  @extend %control-button;

  margin-right: 10px;
  cursor: pointer;
}

%modal-container-panel-controls-buttons-text {
  @extend %control-button-text;

  @media screen and (min-width: 670px) {
    font-weight: bold;
  }
}

.modal-container-panel-slider-wrapper-linear {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
//  border: 1px solid red;
  width: 100%;
  height: 336px;
  margin-top: 25px;

  @media screen and (min-width: 670px) {
    height: 60px;
  }

  @media screen and (min-width: 1368px) {
    margin-top: 1.82vw;
    height: 4.38vw;
  }
}

.modal-container-panel-slider-wrapper-round {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
//  border: 1px solid aquamarine;
  width: calc(100% - 40px);
  height: 221px;
  margin-top: 103px;
  margin-left: 20px;

  @media screen and (min-width: 670px) {
    margin-top: 20px;
    margin-left: 25px;
    width: calc(100% - 50px);
  }

  @media screen and (min-width: 1368px) {
    margin-top: 1.46vw;
    margin-left: 1.82vw;
    width: calc(100% - 3.65vw);
    height: 16.15vw;
  }
}

/* ---------------------------------------------------- */

#modal-container-panel-slider/*::-webkit-slider-runnable-track*/ {
  -webkit-appearance: none;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #ffe682, #ff9e00);
  outline: none;
  transform: rotate(-90deg);
  filter: none;
  transition: filter 0.4s;

  @media screen and (min-width: 670px) {
    height: 60px;
    width: 580px;
    transform: rotate(0deg);
  }

  @media screen and (min-width: 1368px) {
    height: 4.38vw;
    width: 42.39vw;
    border-radius: 2.19vw;
  }
}
/*
#modal-container-panel-slider::-moz-range-track {
  -webkit-appearance: none;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #ffe682, #ff9e00);
  outline: none;
  transform: rotate(-90deg);
  filter: none;
  transition: filter 0.4s;

  @media screen and (min-width: 670px) {
    height: 60px;
    width: 580px;
    transform: rotate(0deg);
  }

  @media screen and (min-width: 1368px) {
    height: 4.38vw;
    width: 42.39vw;
    border-radius: 2.19vw;
  }
}

#modal-container-panel-slider::-ms-track {
  -webkit-appearance: none;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #ffe682, #ff9e00);
  outline: none;
  transform: rotate(-90deg);
  filter: none;
  transition: filter 0.4s;

  @media screen and (min-width: 670px) {
    height: 60px;
    width: 580px;
    transform: rotate(0deg);
  }

  @media screen and (min-width: 1368px) {
    height: 4.38vw;
    width: 42.39vw;
    border-radius: 2.19vw;
  }
}
*/
#modal-container-panel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 0 4px #fff;
  background: transparent;
  cursor: pointer;

  @media screen and (min-width: 1368px) {
    width: 4.38vw;
    height: 4.38vw;
    border: 0.22vw solid rgba(51, 51, 51, 0.1);
    box-shadow: 0 0 0 0.29vw #fff;
  }
}

#modal-container-panel-slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 0 4px #fff;
  background: transparent;
  cursor: pointer;

  @media screen and (min-width: 1368px) {
    width: 4.38vw;
    height: 4.38vw;
    border: 0.22vw solid rgba(51, 51, 51, 0.1);
    box-shadow: 0 0 0 0.29vw #fff;
  }
}

#modal-container-panel-slider::-ms-thumb {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 0 4px #fff;
  background: transparent;
  cursor: pointer;

  @media screen and (min-width: 1368px) {
    width: 4.38vw;
    height: 4.38vw;
    border: 0.22vw solid rgba(51, 51, 51, 0.1);
    box-shadow: 0 0 0 0.29vw #fff;
  }
}

/* ---------------------------------------------------- */

#modal-container-panel-slider-termo/*::-webkit-slider-runnable-track*/ {
  -webkit-appearance: none;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #068fff, #ffd800, #f76b1c);
  outline: none;
  transform: rotate(-90deg);
  filter: none;
  transition: filter 0.4s;

  @media screen and (min-width: 670px) {
    height: 60px;
    width: 580px;
    transform: rotate(0deg);
  }

  @media screen and (min-width: 1368px) {
    height: 4.38vw;
    width: 42.39vw;
    border-radius: 2.19vw;
  }
}
/*
#modal-container-panel-slider-termo::-moz-range-track {
  -webkit-appearance: none;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #068fff, #ffd800, #f76b1c);
  outline: none;
  transform: rotate(-90deg);
  filter: none;
  transition: filter 0.4s;

  @media screen and (min-width: 670px) {
    height: 60px;
    width: 580px;
    transform: rotate(0deg);
  }

  @media screen and (min-width: 1368px) {
    height: 4.38vw;
    width: 42.39vw;
    border-radius: 2.19vw;
  }
}

#modal-container-panel-slider-termo::-ms-track {
  -webkit-appearance: none;
  width: 336px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #068fff, #ffd800, #f76b1c);
  outline: none;
  transform: rotate(-90deg);
  filter: none;
  transition: filter 0.4s;

  @media screen and (min-width: 670px) {
    height: 60px;
    width: 580px;
    transform: rotate(0deg);
  }

  @media screen and (min-width: 1368px) {
    height: 4.38vw;
    width: 42.39vw;
    border-radius: 2.19vw;
  }
}
*/
#modal-container-panel-slider-termo::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 0 4px #fff;
  background: transparent;
  cursor: pointer;

  @media screen and (min-width: 1368px) {
    width: 4.38vw;
    height: 4.38vw;
    border: 0.22vw solid rgba(51, 51, 51, 0.1);
    box-shadow: 0 0 0 0.29vw #fff;
  }
}

#modal-container-panel-slider-termo::-moz-range-thumb {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 0 4px #fff;
  background: transparent;
  cursor: pointer;

  @media screen and (min-width: 1368px) {
    width: 4.38vw;
    height: 4.38vw;
    border: 0.22vw solid rgba(51, 51, 51, 0.1);
    box-shadow: 0 0 0 0.29vw #fff;
  }
}

#modal-container-panel-slider-termo::-ms-thumb {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 0 4px #fff;
  background: transparent;
  cursor: pointer;

  @media screen and (min-width: 1368px) {
    width: 4.38vw;
    height: 4.38vw;
    border: 0.22vw solid rgba(51, 51, 51, 0.1);
    box-shadow: 0 0 0 0.29vw #fff;
  }
}

/* ---------------------------------------------------- */

#modal-container-panel-slider-round/*::-webkit-slider-runnable-track*/ {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: calc(50% - 110.5px);
  width: 221px;
  height: 221px;
  border: 1px solid black;
//  background-image: url('Oval@1x.svg');
//  background-repeat: no-repeat;
//  background-size: cover;
  transform: rotate(-90deg);
  opacity: 0;
  z-index: 10001;

  @media screen and (min-width: 1368px) {
    width: 16.15vw;
    height: 16.15vw;
  }
}

#white-sector {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 115px solid white;
  z-index: 10002;

  @media screen and (min-width: 1368px) {
    border-left: 5.11vw solid transparent;
    border-right: 5.11vw solid transparent;
    border-bottom: 8.4vw solid white;
  }
}

#white-circle {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  width: 173px;
  height: 173px;
  background: #fefefe;
  box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  border-radius: 87px;
  z-index: 10003;

  @media screen and (min-width: 1368px) {
    top: 1.75vw;
    width: 12.64vw;
    height: 12.64vw;
    border-radius: 6.36vw;
  }
}

#orange-circle {
  display: block;
  position: absolute;
  top: 0;
  width: 221px;
  height: 221px;
  background-image: url('Oval@1x.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10000;

  @media screen and (min-width: 1368px) {
    width: 16.15vw;
    height: 16.15vw;
  }
}

#modal-container-panel-slider-round-value-indicator {
//  border: 1px solid red;
  position: absolute;
  transform: translate(0, -83px);
  width: 12px;
  height: 8px;

  @media screen and (min-width: 1368px) {
    transform: translate(0, -6.06vw);
    width: 0.87vw;
    height: 0.58vw;
  }
}

#modal-container-panel-slider-round-value {
//  border: 1px solid black;
  font-size: 66px;
  font-weight: bold;
  font-family: Arial, Serif;
  color: #333;

  @media screen and (min-width: 1368px) {
    font-size: 4.82vw;
  }
}

#modal-container-panel-slider-round::-webkit-slider-thumb {
  width: 60px;
  height: 10px;
  cursor: pointer;
  visibility: hidden;
}

/* ---------------------------------------------------- */

#modal-container-panel-slider-value {
  display: block;
  visibility: hidden;
//  border: 1px solid black;
  position: absolute;
  font-family: Arial, Serif;
  font-weight: bold;
  color: #333;

  @media screen and (min-width: 670px) {
    visibility: visible;
    top: 26px;
    right: 68px;
    font-size: 36px;
  }

  @media screen and (min-width: 1368px) {
    top: 1.9vw;
    right: 4.97vw;
    font-size: 2.63vw;
  }
}

#icon-sun {
  visibility: hidden;
  position: absolute;
  width: 48px;
  height: 48px;

  @media screen and (min-width: 670px) {
    visibility: visible;
    right: 24px;
    top: 24px;
  }

  @media screen and (min-width: 1368px) {
    width: 3.5vw;
    height: 3.5vw;
    right: 1.75vw;
    top: 1.75vw;
  }
}

/* ----------------------------------------------------- */

#icon-sun-max {
  visibility: visible;
  z-index: 10000;
  position: absolute;
//  border: 1px solid white;
  top: 13px;
  left: calc(50% - 18px);
  width: 36px;
  height: 36px;

  @media screen and (min-width: 670px) {
    top: calc(50% - 20px);
    left: 556px;
  }

  @media screen and (min-width: 1368px) {
    width: 2.63vw;
    height: 2.63vw;
    top: calc(50% - 1.46vw);
    left: 40.64vw;
  }
}

#icon-sun-min {
  visibility: visible;
  z-index: 10000;
  position: absolute;
//  border: 1px solid white;
  bottom: 13px;
  right: calc(50% - 18px);
  width: 36px;
  height: 36px;

  @media screen and (min-width: 670px) {
    bottom: calc(50% - 16px);
    right: 556px;
  }

  @media screen and (min-width: 1368px) {
    width: 2.63vw;
    height: 2.63vw;
    bottom: calc(50% - 1.17vw);
    right: 40.64vw;
  }
}

/* ----------------------------------------------------- */

#text-temp-max {
  visibility: hidden;
  z-index: 10000;
  position: absolute;
//  border: 1px solid white;
  top: 13px;
  left: calc(50% - 18px);
  width: 36px;
  height: 36px;
  font-family: Arial, Serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 670px) {
    top: calc(50% - 20px);
    left: 556px;
  }

  @media screen and (min-width: 1368px) {
    width: 2.63vw;
    height: 2.63vw;
    top: calc(50% - 1.46vw);
    left: 40.64vw;
    font-size: 1.31vw;
  }
}

#text-temp-min {
  visibility: hidden;
  z-index: 10000;
  position: absolute;
//  border: 1px solid white;
  bottom: 13px;
  right: calc(50% - 18px);
  width: 36px;
  height: 36px;
  font-family: Arial, Serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 670px) {
    bottom: calc(50% - 16px);
    right: 556px;
  }

  @media screen and (min-width: 1368px) {
    width: 2.63vw;
    height: 2.63vw;
    bottom: calc(50% - 1.17vw);
    right: 40.64vw;
    font-size: 1.31vw;
  }
}
