.nav-buttons-scenarios {
  align-self: flex-end;
  display: flex;
}

.nav-buttons-devices {
  align-self: flex-end;
  display: none;

  @media screen and (min-width: 1368px) {
    display: flex;
  }
}

%button {
  height: 16px;
  width: 16px;
  padding-right: 4.1px;
  padding-left: 4.1px;
  opacity: 0.2;

  @media screen and (min-width: 1368px) {
    height: 1.16vw;
    width: 1.16vw;
    padding-right: 0.29vw;
    padding-left: 0.29vw;
  }
}

#prev-button-dev {
  @extend %button;
}

#next-button-dev {
  @extend %button;

  margin-left: 15px;
  transform: rotate(180deg);

  @media screen and (min-width: 1368px) {
    margin-left: 1.09vw;
  }
}

#prev-button-sce {
  @extend %button;
}

#next-button-sce {
  @extend %button;

  margin-left: 15px;
  transform: rotate(180deg);

  @media screen and (min-width: 1368px) {
    margin-left: 1.09vw;
  }
}

.down-button {
  transform: translateY(1px) rotate(180deg);
  transition: transform 0.4s;
  z-index: 9;
}
